<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>


	[[${msg}]] <br/>
	<div th:if="${session.loginId == null}">
		<a href="/member/join">화원가입</a><br/>
		<a href="/member/login">로그인</a><br/>
		<a href="/guestbook/list">방명록</a><br/>
	
	</div>
	
	<div  th:if="${session.loginId != null}">
	[[${session.loginId}]]님의 타입은 [[${session.type}]] 입니다. <br/>
		<a href="/member/detail">내정보 확인</a><br/>
		<a href="/member/logout">로그아웃</a><br/>
		<a href="/member/out">탈퇴</a><br/>
		<a href="/board/list">글목록</a><br/>
	
	</div>
</body>
</html>